body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
}

.menu-icon {
  font-size: 2rem;
  cursor: pointer;
  margin-left: 20px;
  color: white;
  position: relative;
  z-index: 1001;
}

.slide-menu {
  position: fixed;
  top: 0;
  height: 100%;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1003;
  transition: transform 0.4s ease;
  overflow-y: auto;
  transform: translateX(-100%);
}

.profile-picture-container {
  border-radius: 50%;
  width: 100px;
  aspect-ratio: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.profile-picture-container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 20px;
  gap: 10px;
}

.profile-top-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.username-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.username-text {
  font-size: 1.5rem;
  color: white;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categories>a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-size: 1.1rem;
  position: relative;
  overflow: hidden;
}

.categories>a::after {
  content: "";
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 0;
  height: 0;
  transition: 0.4s ease-out;
}

.categories>a:hover::after {
  width: 400px;
  height: 400px;
}

.categories>a:hover {
  transform: scale(0.95);
}

span.new-feature-tag {
  background: orange;
  border-radius: 100vw;
  padding: 0.2rem 0.4rem;
  margin-left: 1rem;
  font-size: 0.6rem;
  color: black;
  text-transform: uppercase;
}

.navbar .logo {
  color: white;
  font-weight: bold;
}

.navbar .logo .xp {
  color: orange;
}

.navbar a,
.navbar a:visited,
.navbar .logo span {
  text-decoration: none;
  margin-right: 20px;
}

.search-bar {
  padding: 7px;
  padding-top: 10px;
  font-size: 1em;
  border-radius: 20%;
  width: 100%;
  border: none;
  border-bottom: 5px solid gray;
  background-color: transparent;
  color: white;
}

.search-bar:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.games-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  margin: 5px;
  width: 120px;
  height: 120px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.29);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.02);
}

.card figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(95, 95, 95, 0.8);
  color: black;
  padding: 5px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(100%);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 2px white;
  font-weight: 550;
  border-radius: 10px;
}

.card:hover figcaption {
  height: 30px;
  background-color: rgba(95, 95, 95, 0.8);
  transform: translateY(0);
  opacity: 1;
}

.search-results {
  position: absolute;
  right: 20px;
  top: 60px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  width: 250px;
  display: none;
  z-index: 1000;
  transform-origin: left;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-results a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #eee;
  padding: 5px;
  transition: all 0.3s ease;
}

.search-results img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.search-results a:last-child {
  border-bottom: none;
}

.news-container {
  margin: 20px auto;
  padding: 20px;
  background-color: #444444;
  border-radius: 8px;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news {
  color: #ffffff;
}

.credits-title {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #ffffff;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.credits-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.credits-role {
  font-weight: bold;
  color: #ffffff;
}

.credits-names {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.credits-link {
  color: #0073e6;
  text-decoration: none;
  font-weight: bold;
}

.credits-link:hover {
  text-decoration: underline;
}

.credits-names span {
  color: #c4c4c4;
}

h2 {
  text-align: center;
  color: white;
  margin: 20px 0;
  font-size: 1.5em;
}

.pagination {
  text-align: center;
  margin: 20px 0;
}

.pagination a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #444;
  margin: 0 4px;
  border-radius: 4px;
  background-color: #333;
}

.pagination a.active {
  background-color: #555;
  border-color: #777;
}

.pagination a:hover:not(.active) {
  background-color: #444;
}

.updates-paragraph-text {
  color: white;
  background-color: #a83632;
  padding: 15px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.05);
  margin-bottom: 30px;
}

.updates-text-container {
  margin-left: 30%;
  margin-right: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bars {
  display: flex;
  align-items: center;
}

.bar {
  background-color: rgba(255, 255, 255, 0.3);
  width: 20px;
  height: 40px;
  margin-right: 5px;
  border-radius: 10px;
  animation: load ease infinite 5s;
}

.bar-2,
.bar-4 {
  height: 50px;
}

.bar-2 {
  animation-delay: 0.1s;
}

.bar-3 {
  height: 60px;
  animation-delay: 0.2s;
}

.bar-4 {
  animation-delay: 0.3s;
}

.bar-5 {
  animation-delay: 0.4s;
}

@keyframes load {
  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(720deg) rotateX(180deg);
  }
}

#topGameList {
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #757575;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.xp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  width: 80%;
}

.xp-level-text {
  color: white;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.xp-bar {
  position: relative;
  width: 100%;
  height: 20px;
  background: black;
  border-radius: 10px;
  overflow: hidden;
}

.xp-bar-fill {
  height: 100%;
  background: linear-gradient(to right, #47fced, #0af);
  width: 0%;
  transition: width 0.5s ease;
}

.xp-bar-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}